
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #333;
}


.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 3fr;
  gap: 4px;
}



/* SIDEBAR */

.sidebar {
  background-color: #0ea5e9;
  color: #fff;
  grid-row: span 2;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

.sidebar-title {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.sidebar-title img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  filter: invert(100%);
}

.sidebar-title h2 {
  font-size: 24px;
  font-weight: 400;
}

.sidebar ul {
  list-style: none;
  padding-left: 10px;
}

.sidebar li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.sidebar li.home::before {
  background-image: url('./img/home.svg');
}

.sidebar li.profile::before {
  background-image: url('./img/profile.svg');
}

.sidebar li.messages::before {
  background-image: url('./img/messages.svg');
}

.sidebar li.history::before {
  background-image: url('./img/history.svg');
}

.sidebar li.tasks::before {
  background-image: url('./img/tasks.svg');
}

.sidebar li.communities::before {
  background-image: url('./img/communities.svg');
}

.sidebar li.settings::before {
  background-image: url('./img/settings.svg');
}

.sidebar li.support::before {
  background-image: url('./img/support.svg');
}

.sidebar li.privacy::before {
  background-image: url('./img/privacy.svg');
}


.sidebar li::before {
  content: '';
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
}


/* HEADER */
.header {
  background-color: #fff;
  color: #000000;
  /* grid-row: span 2; */
  padding: 1rem;
  display: grid;
  grid-template-rows: 0.5fr 2.0fr;
  font-weight: 500;
}


.header-top {
  display: grid;
  grid-template-columns: 0.9fr 0.1fr;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 15px;
  /* justify-content: space-between; */
  /* border-radius: 15px; */
  /* padding: 0.5rem; */
}

.search-container input[type="text"] {
  padding: 5px;
  border: none;
  font-size: 17px;
  width: 450px;
  background: #dbeafe;
  margin-right: 10px;
  border-radius: 25px;
  outline: none;
  /* flex-grow: 1; */
  /* padding: 0.5rem; */
}

.search-container button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  color: #0ea5e9;
}

.search-container button:hover {
  color: #0079c1;
}

.fa-search {
  font-size: 16px;
}

.login-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 30px;
}

.login-panel img {
  width: 20px;
  height: 20px;
}

.login-panel button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  color: #0ea5e9;
}
